.hero-image{
  width: 22em;
  height: 100%;
}

.content-image{
  max-width: 33em;
  height: auto;
  margin: 1em 0em;
}

.video{
  background-color: #1D1F2B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
};


@media screen and (max-width: 425px) {
  .content-image{
    width: 100%;
    height: auto;
    margin: 1em 0em;
  }

}


.sand{
  background-color: rgba(0,0,0,0.1);
  width: 100%;
}

.sand-list{
  list-style: disc;
}

.sand-label{
  font-weight: bold;
  font-weight: 500;
}
