

.menu-icon{
	position: fixed;
	right: 35px;
	top: 35px;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 1001;
}



// @media screen and (min-width: 425px) { 
// 	.menu-icon{
// 		right: 35px;
// 		top: 35px;
// 		bottom: 0px;
// 	}
// }