.mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 50;
    border-top: 1px solid #eee;
    opacity: 0;
}

.mobile-nav>ul {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 4.4rem;
}

.mobile-nav>ul>li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    font-size: 0.5em;
}

@media screen and (max-width: 425px) { 
    .mobile-nav {
        opacity: 1;
    }

}

