
.bar{
	background-color: #DEE2E3;
}

.back-icon{
	position: fixed;
	left: 1.5em;
	top: 1.5em;
	cursor: pointer;
	z-index: 1001;
	// padding: 0.5em .95em;
	// background-color: #000;
	// filter: invert(100%);

}

@media screen and (max-width: 425px) {
	.back-icon{
		position: fixed;
		left: 15px;
		top: 15px;
		cursor: pointer;
		z-index: 1001;
		padding: 0.5em .75em;
		background-color: #ffffff;
		.back-label{
			font-size: 0.75em;
			color:white;
			font-family: Arial, Helvetica, sans-serif
		}
	}
}
