@import '../../lib/vars.scss';

body {
    background: #fff;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    overflow: hidden;
}

#page {

  height: 100%;
  width: 100%;
  display: flex;
}


.side-navigation-container{
  position: fixed;
  top: 0;
  left: 10px;
  width: 12em;
  height: 100vh;
  background: white;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  display: flex;
  flex-direction: column;

}

.main-content{
  margin-left: 12em;
  // width: calc(72vw - 8px);
  width: 100%;
  height: calc(100vh - 8px);
  position: relative;
  overflow: scroll;
}


.branding{
  display: flex;
  background-color: rgba(0,0,0,0);
  font-family: sans-serif;
  flex-direction: column;
  display: flex;
  .branding-icon{
    padding-bottom: 0.15em;
  }
  .branding-name{
    color:rgba(0,0,0,0.8);
    font-size: 1em;
    padding-bottom: 0.5em;
    font-family: $sans-serif;
  }
  .branding-title{
    color:rgba(0,0,0,0.4);
    font-size: 0.75em;

  }
}

.site-links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em 2em;
  display: flex;
  flex: 1;
  ul{
    height: 100%;
    width: 100%;
    list-style-type: none;
  }
  li{
    padding: 1em 0em;
    width: 100%;
    font-family: $sans-serif;
  }

}

.external-links{
  display: flex;
  i{
    padding: 0em 0.95em 0em 0em;
  }
}
