@import '../../lib/vars.scss';


.card-grid-container {
    width: 100%;
    background-color:$gray01;
    padding: 2em 0em;
    height: 50vmin;
    flex-direction: row;
    justify-content: center;
    display:flex;
    .card-grid{
      width:70%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .card{
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 31%;
        border-radius: 0.125em;
        box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.08);
        transition: all 0.2s ease-in;
        // &:hover{
        //   filter: saturate(0%) brightness(90%);
        //   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        //   transition: all 0.2s ease-in;
        // }
        .card-title{
          color:$black;
          font-family: sans-serif;
        }
      }
    }
}


.item-wrapper{
  margin: 0em 0em 1.5em 0em;
  display: flex;
  justify-content: center;
  .item-thumbnail{
    max-height: 20em;
    width: 100%;
    background-color: $FPO;
    display: flex;
    justify-content: center;
    padding-bottom: 0.75em;
    img{
      height: 100%;
      max-height: 15em;
      transition: all 0.2s ease-in;
      box-shadow: -1px 2px 1px 1px rgba(0,0,0,0.10);;
      &:hover{
        filter: saturate(70%) brightness(85%);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        transition: all 0.2s ease-in;
      }
    }
  }
  .item-copy{
    display: flex;
    flex-direction: column;
    background-color: $FPO;
    .item-title{
      font-size: 0.65em;
      font-weight: bold;
      padding: 0.25em 0em;
      font-family: sans-serif;
      text-align: left;
    }
    .item-author{
      font-size: 0.65em;
      font-family: sans-serif;
      text-align: left;
    }

  }
}
