.hero-image{
  width: 22em;
  height: 100%;
}

.content-image{
  max-width: 33em;
  height: auto;
  margin: 1em 0em;
}

.video{
  background-color: #1D1F2B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
};
