@import '../../lib/vars.scss';


.about-wrapper{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  padding-top: 20vh;
  padding-left: 3em;
  display: flex;
  flex-direction: column;
}

.header-01{
  color: $black;
  font-family: $sans-serif;
  font-size: 2em;
}

.label-02{
  color: $black;
  font-family: $sans-serif;
  font-size: 1em;
}
