@import '../../lib/vars.scss';


.wrapper{
  height: 100vh;
  width: 100%;
  background-color: transparent;
  padding-top: 8em;
  padding-left: 5em;
  padding-right: 3em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.details-wrapper{
  height: 100vh;
  width: 100%;
  background-color: transparent;
  padding-left: 3em;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title-block{
  display: flex;
  flex-direction: column;
  width: 33em;
  background-color: transparent;
}

.social-block{
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  background-color: transparent;
  width: 30em;
}
