.secondary-nav{
	display: flex;
	justify-content: center;
	margin: 1.25em 0em;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.secondary-nav-label{
			list-style: none;
			font-size: 0.75em;
			line-height: 250%;
			color: #354860;
			font-family: 'Work Sans', sans-serif;
			margin: 15px;
			padding: 0;
			&:hover{
				color:white;
				text-decoration: underline;
			}
		}
	}
}