@import '../../lib/vars.scss';

.chevron{
  width: 0.5em;
  height: 0.5em;
  // background-color: black;
  transform: rotate(45deg);
  box-shadow:
    inset 0px 0.15em 0px 0px $gray01,
    inset -0.15em 0px 0px 0px $gray01;
}
