@import '../../lib/vars.scss';


ul.timeline li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 3.0em;

}

ul.timeline li:after {
    /* bullets */
    // ./src/public/images/bullet-01.svg
    // content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
    content: url("/src/public/images/bullet-01.svg");
    position: absolute;
    left: -26px; /*adjust manually*/
    top: 2px;
}

ul.timeline li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 1px solid $gray02;
    height: 100%;
    width: 1px;
}

ul.timeline li:first-child:before {
   /* first li's line */
   top: 10px; /* moves the line down so that it disappears under the bullet. Adjust manually */
   border-left: 1px solid $gray02;

}

ul.timeline li:last-child:before {
    /* last li's line */
   height: 10px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

// ul{
//   // list-style-position: inside;
//   padding-left: 2px;
// }


// Timeline Copy
.timeline-label{
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 2.75em;
  padding: 0.25em 0em 0.15em 0em;
  font-weight: 500;
}

.timeline-date{
  font-size: 1em;
  padding: 0em 0.25em;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 1.65em;
}

.timeline-sub-title{
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 1.75em;
  line-height: 1.75em;
  padding-bottom: 0.5em;
  font-weight: 300;
}

.timeline-position{
  font-size: 0.75em;

}

.timeline-button{
  font-size: 0.75em;
  border: 1px solid $gray02;
  border-radius: 0.5em;

  min-width: 10em;
  margin: 2.5em 0em;
  max-width: 5em;
  text-align: center;

}

li{
  // position: relative;
  // display: inline-block;
  list-style-type: none;
  // width: 2px;
  // height: 100%;
  // background: #000;
  img{
    height: 2.5em;
    width: 2.5em;
  }
}

.timeline-entry{
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
h1{
  font-size: 2em;

}

ul{
  padding-left: 1.15em;
}
