@import '/../../lib/vars.scss';


.card-wrapper{
  background-color: transparent;
  min-height: 8em;
  width: 100%;
  max-width: 30em;
  border: 1px solid #dee2e3;
  border-radius: 0.5em;
  overflow: hidden;
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.25s ease-in;
}

@media screen and (max-width: 425px) {
  .card-wrapper{
    background-color: transparent;
    height: 12em;
    min-height: 12em;
    width: 100%;
    max-width: 30em;
    border: 1px solid #dee2e3;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.25s ease-in;
  }

}

.card-hero{
  width: 100%;
  height: 80%;
  background-color: $gray01;
  display: flex;
  flex: 2;
}

.card-information{
  width: 100%;
  height: 20%;
  // background-color: $gray02;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  .information-img{
    display: flex;
    flex: 3;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    // background-color: $gray03;
    img{
      width: 120px;
      height: 120px;
    }
  }
  .information-copy{
    display: flex;
    flex-direction: column;
    flex: 7;
    margin-left: $spacer-medium;
    // align-self: stretch;
    // height: 100%;
    // background-color: pink;
  }
  .information-chevron{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: $spacer-medium;
    // align-self: stretch;
    // height: 100%;
    // background-color: pink;
  }

}


@media screen and (max-width: 425px) {
  .card-information{
    flex-direction: column;
  }

}
