@import '/../../lib/vars.scss';

.social-block{
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  width:100%;
  max-width: 33em;
}


.label-footer {
  color:rgba(0,0,0,0.6);
  font-size: 0.75em;
  font-family: $sans-serif;
  margin: 1.75em 3em 0.5em 0em;
  padding: 0.5em 0.5em;
  transition: all 0.15s ease-in;
  background-color: rgba(255,255,255,1);
  background-blend-mode: difference;
  &:hover{
    transition: all 0.15s ease-in;
    color:rgba(0,0,0,1);
  }
}

.label-footer-02{
  color:rgba(0,0,0,0.6);
  font-size: 0.75em;
  font-family: $sans-serif;
  // border: 1px solid #dee2e3;
  // border-radius: 0.5em;
  margin: 1.75em 3em 0.5em 0em;
  padding: 0.5em 0.0em;
  transition: all 0.15s ease-in;
  background-color: rgba(255,255,255,1);
  background-blend-mode: difference;
  &:hover{
    transition: all 0.15s ease-in;
    color:rgba(0,0,0,1);
    // border: 1px solid $gray02;
  }
}


@media screen and (max-width: 425px) {
  .social-block{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // height: 2em;
  }
  .label-footer{
    color:rgba(0,0,0,0.6);
    font-size: 0.75em;
    font-family: $sans-serif;
    transition: all 0.15s ease-in;
    background-color: rgba(255,255,255,1);
    background-blend-mode: difference;
    text-align: center;
    &:hover{
      transition: all 0.15s ease-in;
      color:rgba(0,0,0,1);
    }
  }
}
